@charset "UTF-8";

body{
	margin: 0px;
	position: static;
	background-color: #FFD700;
}

.userDetails{
	background-color: #000000;
}

.header{
	width: 100%;
	height: 80px;
	font-family: Lora, Sans-serif;
	font-style: italic;
	color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000000;
	margin-bottom: 20px;

	
}

.board{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	
}

.row{
	display: flex;
}

.cell{
	
	width: 140px;
	height: 140px;
	border: solid;
	border-width: 1px;
	background-size: 140px 140px;
	background-color: #FFFACD;
}


.signPirate{
	background-image: url('pirate.jpg');
}


.signTreasure{
	background-image: url('treasure.jpg');
}